body { background-color:#1989B6;}

#nav-table {width:800px;
            margin: 0 auto;}

#nav-banner { display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;}

#nav-th {width:200px; text-align:center;}

#nav-p {text-align:center;}
