        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
               
            margin: auto;
            background-color: rgb(100, 240, 240);
        }


<link rel="stylesheet" type="text/css" href="mystyle.css">
