body { background-color:#1989B6;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,31,97,0.6502976190476191) 50%, rgba(2,116,139,1) 100%);}

#nav-table {width:800px;
            margin: 0 auto;}

img {margin: 0 auto;
display:inline-block;
margin: 0 auto;
}

#nav-banner {
  margin-left: auto;
  margin-right: auto;
display:inline-block;
margin: 0 auto;
}

#nav-th {width:200px; text-align:center;}


p {text-align:center;}

h1 {text-align:center;}
